{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://app.nimble.com"
    }
  ],
  "info": {
    "title": "Nimble API",
    "version": "v1",
    "description": "# Overview\n\nNimble is a relationship-focused CRM for your entire team. With customizable contact records and easy-to-use Kanban-style workflows, managing client information has never been simpler. Nimble effortlessly integrates with both Microsoft 365 and Google Workspace, gathering contacts and leads from all your platforms, while our automation tools handle the busy work. Focus on what matters most – growing your business and nurturing relationships, as Nimble streamlines your workflow for maximum productivity. \n\nThe document below offers an overview of currently available APIs & how to utilize them. If you're missing some APIs for an integration you want to build, please contact us at [api-support@nimble.com](mailto:api-support@nimble.com).\n\nCurrently available APIs:\n\n-   **Contacts & Contact fields** - managing contacts & custom fields.\n-   **Deals & Deals Pipelines** - managing deals, pipelines, and deal pipeline fields.  \n-   **Create tasks** - allows to create tasks within account. \n\nWe are building the API with a few main use cases in mind:\nwidgets/extensions to Nimble, web clients (including our own), mobile\nclients, and 2-way data integrations with other services. We\naim to make an API that is simple to use, easy to read, and flexible.\n\n[Your feedback](mailto:api-support@nimble.com) is greatly\nappreciated while we continue to shape our API offering.\n",
    "x-logo": {
      "url": "https://www.nimble.com/wp-content/themes/new_nimble/images/nimble-logo-white.svg",
      "backgroundColor": "#2685c4"
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Nimble-Token"
      }
    },
    "schemas": {
      "Contacts.ContactViewContextKinds": {
        "enum": [
          "last_contacted_data",
          "employers_data",
          "leads_data",
          "sequences_data",
          "contact_files"
        ]
      },
      "Commons.PaginationMeta": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "page",
          "pages",
          "per_page",
          "total"
        ],
        "type": "object"
      },
      "Contacts.LastContacted": {
        "properties": {
          "deletion_tstamp": {
            "type": "object"
          },
          "object_id": {
            "type": "object"
          },
          "tstamp": {
            "type": "object"
          },
          "type": {
            "type": "object"
          },
          "user_id": {
            "type": "object"
          },
          "direction": {
            "enum": [
              "inbound",
              "outbound"
            ]
          }
        },
        "required": [
          "tstamp",
          "type",
          "object_id",
          "user_id",
          "deletion_tstamp"
        ],
        "type": "object"
      },
      "Contacts.LastContactedDirectedContainer": {
        "properties": {
          "in": {
            "$ref": "#/components/schemas/Contacts.LastContacted"
          },
          "out": {
            "$ref": "#/components/schemas/Contacts.LastContacted"
          },
          "last": {
            "$ref": "#/components/schemas/Contacts.LastContacted"
          }
        }
      },
      "Accounts.ShortUserInfo": {
        "properties": {
          "avatar_url": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        },
        "required": [
          "user_id",
          "name",
          "email",
          "avatar_url",
          "is_active"
        ],
        "type": "object"
      },
      "Contacts.UserLastContactedView": {
        "properties": {
          "company_lc": {
            "$ref": "#/components/schemas/Contacts.LastContactedDirectedContainer"
          },
          "user_lc": {
            "$ref": "#/components/schemas/Contacts.LastContactedDirectedContainer"
          },
          "last_user": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          }
        }
      },
      "Contacts.Principals": {
        "description": "Explicitly defines users and groups that have an action permission. If any set - no one can.\n",
        "properties": {
          "group_ids": {
            "description": "ids of permitted groups. if empty - no group has permission",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "user_ids": {
            "description": "ids of permitted users. If empty - no user has permission",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "user_ids",
          "group_ids"
        ],
        "type": "object"
      },
      "Contacts.ContactPrivacy": {
        "description": "Defines scopes of object visibility and editability.<br>\nEdit permission means that group or user also is able to read an object.<br>\n***No duplication***, if `id` in edit Principal it must not be in view Principal.<br>\nIf property is `None` - everyone have an action right (Permitted to everyone).<br>\nIf Principal is set, but has empty properies - only owner is allowed to act. <br>\nIf not specified - default privacy from company settings will be applied ",
        "properties": {
          "edit": {
            "description": "None means permitted to everyone. Prinipals object define permission explicitly",
            "nullable": true,
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Contacts.Principals"
              }
            ]
          },
          "read": {
            "description": "None means permitted to everyone. Prinipals object define permission explicitly",
            "nullable": true,
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Contacts.Principals"
              }
            ]
          }
        },
        "required": [
          "read",
          "edit"
        ],
        "type": "object"
      },
      "Contacts.ContactType": {
        "enum": [
          "person",
          "company"
        ],
        "type": "string"
      },
      "Contacts.Reminder": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "contact_id": {
            "type": "string"
          },
          "days_till_triggered": {
            "type": "integer"
          },
          "period": {
            "type": "integer"
          },
          "triggered": {
            "type": "boolean"
          }
        },
        "required": [
          "contact_id",
          "period",
          "days_till_triggered",
          "active",
          "triggered"
        ],
        "type": "object"
      },
      "Contacts.LeadInStageInfo": {
        "description": "info about stage where lead is",
        "properties": {
          "pipeline_id": {
            "type": "string",
            "format": "ObjectId"
          },
          "pipeline_name": {
            "type": "string"
          },
          "stage_name": {
            "type": "string"
          },
          "entered_data": {
            "type": "string",
            "format": "datetime"
          },
          "is_final": {
            "type": "boolean"
          },
          "days_limit": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Contacts.ContactNotice": {
        "properties": {
          "created": {
            "description": "Date and time when the notice was created encoded in ISO 8601",
            "type": "string"
          },
          "updated": {
            "description": "Date and time when the notice was updated encoded in ISO 8601",
            "type": "string"
          },
          "creator": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "updated_by": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "text": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "created",
          "updated",
          "creator",
          "updated_by",
          "text",
          "color"
        ],
        "type": "object"
      },
      "Contacts.LastContactedDataContext": {
        "type": "object",
        "properties": {
          "context_key": {
            "type": "object"
          },
          "context": {
            "$ref": "#/components/schemas/Contacts.UserLastContactedView"
          }
        }
      },
      "Contacts.EmployerInfo": {
        "description": "employer's info",
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          }
        }
      },
      "Contacts.EmployersDataContext": {
        "type": "object",
        "properties": {
          "context_key": {
            "type": "object"
          },
          "context": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contacts.EmployerInfo"
            }
          }
        }
      },
      "Contacts.LeadsDataContext": {
        "type": "object",
        "properties": {
          "context_key": {
            "type": "object"
          },
          "context": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contacts.LeadInStageInfo"
            }
          }
        }
      },
      "Contacts.UploadedContactFile": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "contact_id": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "file_size": {
            "type": "number"
          },
          "mime_type": {
            "type": "string"
          },
          "uploader": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "uploaded_at": {
            "type": "string"
          },
          "pipeline_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Attachments.AttachmentData": {
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "attachment_bytes": {
            "type": "integer"
          },
          "attachment_type": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "link": {
            "description": "URL that can be used to download an attachment",
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          }
        },
        "required": [
          "attachment_type",
          "name",
          "link",
          "attachment_bytes",
          "icon",
          "type",
          "mime_type",
          "updated",
          "updated_by"
        ],
        "type": "object"
      },
      "Attachments.DropboxAttachmentData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Attachments.AttachmentData"
          },
          {
            "description": "Dropbox"
          }
        ]
      },
      "Attachments.GoogleDriveAttachmentData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Attachments.AttachmentData"
          },
          {
            "description": "GoogleDrive"
          }
        ]
      },
      "Attachments.OneDriveAttachmentData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Attachments.AttachmentData"
          },
          {
            "description": "OneDrive"
          }
        ]
      },
      "Contacts.ContactFile": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "device",
              "google_drive",
              "one_drive",
              "dropbox"
            ]
          },
          "metadata": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Contacts.UploadedContactFile"
              },
              {
                "$ref": "#/components/schemas/Attachments.DropboxAttachmentData"
              },
              {
                "$ref": "#/components/schemas/Attachments.GoogleDriveAttachmentData"
              },
              {
                "$ref": "#/components/schemas/Attachments.OneDriveAttachmentData"
              }
            ]
          }
        }
      },
      "Contacts.ContactFilesContext": {
        "type": "object",
        "properties": {
          "context_key": {
            "type": "object"
          },
          "context": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contacts.ContactFile"
            }
          }
        }
      },
      "Sequences.CompletedSequenceStepRecord": {
        "type": "object",
        "properties": {
          "step_id": {
            "type": "string",
            "description": "ID (name) of the completed sequence step"
          },
          "step_type": {
            "description": "the type of the completed sequence step",
            "enum": [
              "delay",
              "send_message",
              "condition"
            ]
          },
          "when": {
            "type": "string",
            "description": "iso8601 timestamp of when the step was completed"
          },
          "step_name": {
            "type": "string",
            "description": "the name of a step this contact completed"
          }
        }
      },
      "Sequences.SequenceProgressionOutcomes": {
        "enum": [
          "successful",
          "unsuccessful",
          "error",
          "removed"
        ]
      },
      "Sequences.InSequenceContactExitDetails": {
        "type": "object",
        "properties": {
          "when": {
            "type": "string"
          },
          "exit_method": {
            "type": "string",
            "description": "\"how\" the contact exited the sequence (e.g. by an exit rule or certain message condition)\n"
          },
          "outcome": {
            "$ref": "#/components/schemas/Sequences.SequenceProgressionOutcomes"
          }
        }
      },
      "Sequences.InSequenceContactInfo": {
        "type": "object",
        "properties": {
          "sequence_id": {
            "description": "id of a sequence this contact is in",
            "type": "string"
          },
          "seq_contact_id": {
            "description": "a unique identifier of a the contact in the sequence",
            "type": "string"
          },
          "sequence_name": {
            "description": "the name of a sequence this contact belongs to",
            "type": "string"
          },
          "sequence_color": {
            "description": "the color of a sequence this contact belongs to",
            "type": "string"
          },
          "completed_steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sequences.CompletedSequenceStepRecord"
            }
          },
          "current_step": {
            "type": "string",
            "description": "current sequence's step name"
          },
          "current_step_id": {
            "type": "string",
            "description": "current sequence's step id"
          },
          "last_completed_action": {
            "type": "string",
            "description": "last completed sequence action name"
          },
          "last_completed_action_dao": {
            "type": "string",
            "description": "last completed sequence action date"
          },
          "has_waited_in_current_step": {
            "type": "number",
            "description": "for how many seconds the contact has waited in it's current step"
          },
          "email": {
            "description": "an email address the contact was entered the sequence with",
            "type": "string"
          },
          "exit_details": {
            "description": "exit details if contact completed the sequence",
            "nullable": true,
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Sequences.InSequenceContactExitDetails"
              }
            ]
          },
          "owner": {
            "description": "user who entered this contact to a sequence",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Accounts.ShortUserInfo"
              }
            ]
          },
          "next_step_scheduled_at": {
            "description": "the timestamp of the next scheduled sequence step (can be use to approximate the next send_message step)\n",
            "type": "string"
          }
        }
      },
      "Contacts.InSequenceContactInfoContext": {
        "type": "object",
        "properties": {
          "context_key": {
            "type": "object"
          },
          "context": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sequences.InSequenceContactInfo"
            }
          }
        }
      },
      "Contacts.ContactViewContext": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Contacts.ContactFilesContext"
          },
          {
            "$ref": "#/components/schemas/Contacts.EmployersDataContext"
          },
          {
            "$ref": "#/components/schemas/Contacts.LastContactedDataContext"
          },
          {
            "$ref": "#/components/schemas/Contacts.LeadsDataContext"
          },
          {
            "$ref": "#/components/schemas/Contacts.InSequenceContactInfoContext"
          }
        ],
        "discriminator": {
          "propertyName": "context_key",
          "mapping": {
            "last_contacted_data": "#/components/schemas/Contacts.LastContactedDataContext",
            "employers_data": "#/components/schemas/Contacts.EmployersDataContext",
            "leads_data": "#/components/schemas/Contacts.LeadsDataContext",
            "contact_files": "#/components/schemas/Contacts.ContactFilesContext",
            "sequences_data": "#/components/schemas/Contacts.InSequenceContactInfoContext"
          }
        }
      },
      "Contacts.ContactView": {
        "description": "user perspective on a specific contact",
        "properties": {
          "avatar_url": {
            "type": "string"
          },
          "children": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "employers_info": {
            "description": "DEPRECATED, use  values in `contexts`",
            "items": {
              "properties": {
                "company_name": {
                  "type": "string"
                },
                "contact_id": {
                  "type": "string"
                }
              },
              "required": [
                "company_name",
                "contact_id"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "company_last_contacted": {
            "description": "DEPRECATED, use  values in `contexts`",
            "properties": {
              "in": {
                "$ref": "#/components/schemas/Contacts.LastContacted"
              },
              "out": {
                "$ref": "#/components/schemas/Contacts.LastContacted"
              }
            },
            "required": [
              "in",
              "out"
            ],
            "type": "object"
          },
          "lc": {
            "description": "DEPRECATED, use values in `contexts`",
            "$ref": "#/components/schemas/Contacts.UserLastContactedView"
          },
          "created": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "fields": {
            "additionalProperties": {
              "items": {
                "properties": {
                  "field_id": {
                    "type": "string"
                  },
                  "modifier": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "field_id",
                  "value",
                  "modifier"
                ],
                "type": "object"
              },
              "type": "array"
            },
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "is_important": {
            "type": "object"
          },
          "last_contacted": {
            "description": "DEPRECATED, use values in `contexts`",
            "nullable": true,
            "$ref": "#/components/schemas/Contacts.LastContacted"
          },
          "object_type": {
            "enum": [
              "contact"
            ],
            "type": "string"
          },
          "last_contacted_user": {
            "description": "email of user that contacted for the last time (DEPRECATED, use values in `contexts`)",
            "type": "string"
          },
          "owner_id": {
            "type": "string"
          },
          "privacy": {
            "$ref": "#/components/schemas/Contacts.ContactPrivacy"
          },
          "record_type": {
            "$ref": "#/components/schemas/Contacts.ContactType"
          },
          "reminder": {
            "nullable": true,
            "$ref": "#/components/schemas/Contacts.Reminder"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "updated": {
            "type": "string"
          },
          "updater": {
            "type": "string"
          },
          "stages_info": {
            "description": "DEPRECATED. use `contexts`",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contacts.LeadInStageInfo"
            }
          },
          "notice": {
            "$ref": "#/components/schemas/Contacts.ContactNotice"
          },
          "contexts": {
            "description": "additional requested contexts (usually passed in the `contexts` request parameter)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contacts.ContactViewContext"
            }
          }
        },
        "required": [
          "id",
          "record_type",
          "object_type",
          "fields",
          "owner_id",
          "privacy",
          "children",
          "updated",
          "created",
          "updater",
          "creator",
          "avatar_url",
          "tags",
          "last_contacted",
          "company_last_contacted",
          "is_important",
          "reminder",
          "notice"
        ],
        "type": "object"
      },
      "Contacts.ContactsListing": {
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Commons.PaginationMeta"
          },
          "resources": {
            "items": {
              "$ref": "#/components/schemas/Contacts.ContactView"
            },
            "type": "array"
          }
        },
        "required": [
          "meta",
          "resources"
        ],
        "type": "object"
      },
      "Errors.ValidationError": {
        "description": "request was malformed",
        "example": {
          "errors": {
            "/": {
              "message": "missing required properties: [\"calendar_id\", \"summary\"]"
            },
            "/base_occurrence/start_dtime": {
              "message": "Can't parse value 20000-01-01T01:01:00 as DATE-TIME"
            }
          },
          "message": "Invalid value {} (dict): missing required properties: []\"calendar_id\", \"summary\"]",
          "code": 245,
          "human_readable_error": "Invalid value {} (dict): missing required properties: []\"calendar_id\", \"summary\"]\"",
          "extra": [
            {}
          ]
        },
        "properties": {
          "errors": {
            "description": "mapping where keys are paths to problematic request attributes\nand values are objects with single message attribute\n",
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "description": "legacy that you <span style='color:red'>SHOULD NOT USE</span>"
          },
          "human_readable_error": {
            "type": "string",
            "description": "Error message with some changes making it easier to read."
          },
          "extra": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "extra data that would be useful to provide"
          }
        },
        "required": [
          "message",
          "errors",
          "human_readable_error"
        ],
        "type": "object"
      },
      "Commons.PushData": {
        "description": "an object containing the push data from the server to the client",
        "properties": {
          "action": {
            "description": "the action this notification is for",
            "example": "single_message_sent",
            "type": "string"
          },
          "created": {
            "description": "datetime formatted in iso8601",
            "format": "date-time",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "is_new": {
            "type": "boolean"
          },
          "object": {
            "description": "some structure which varies, depending on object_type and action",
            "type": "object"
          },
          "object_type": {
            "description": "the type of object this push data is for",
            "example": "notification",
            "type": "string"
          }
        },
        "required": [
          "action",
          "object_type",
          "created",
          "is_new",
          "id",
          "object"
        ],
        "type": "object"
      },
      "Contacts.ContactsRemovedResponse": {
        "properties": {
          "data": {
            "properties": {
              "ids": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "push_data": {
                "$ref": "#/components/schemas/Commons.PushData"
              }
            },
            "required": [
              "ids",
              "push_data"
            ],
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "status"
        ],
        "type": "object"
      },
      "Errors.NotFoundError": {
        "example": {
          "object_id": "4f2acc3142a053dda595f00b",
          "object_type": "deal"
        },
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_type": {
            "type": "string"
          }
        },
        "required": [
          "object_type",
          "object_id"
        ],
        "type": "object"
      },
      "Errors.PreflightCheckError": {
        "example": {
          "message": "Some contacts cannot be updated because of their privacy settings",
          "nse_query": {
            "and": [
              {
                "is_editable": {
                  "is": false
                }
              },
              {
                "_id": {
                  "in": [
                    "5dfb9c3e84a6b90f0c01c23a",
                    "5dfb9c3e84a6b90f0c01c23b"
                  ]
                }
              }
            ]
          },
          "total": 10,
          "type": "non_editable_contacts"
        },
        "properties": {
          "message": {
            "type": "string"
          },
          "nse_query": {
            "description": "problem contacts selection query",
            "type": "object"
          },
          "total": {
            "type": "integer"
          },
          "type": {
            "description": "unique and stable identifier of error type",
            "type": "string"
          }
        },
        "required": [
          "type",
          "message",
          "total",
          "nse_query"
        ],
        "type": "object"
      },
      "Errors.PreflightCheckFailures": {
        "description": "action cannot be applied to all specified contacts",
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/Errors.PreflightCheckError"
            },
            "type": "array"
          }
        },
        "required": [
          "errors"
        ],
        "type": "object"
      },
      "Contacts.ContactsIdsListing": {
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Commons.PaginationMeta"
          },
          "resources": {
            "description": "List of contacts’ IDs in BSON format",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "meta",
          "resources"
        ],
        "type": "object"
      },
      "Contacts.FieldPresentationType": {
        "enum": [
          "single-line-text-box",
          "phone",
          "email",
          "url",
          "multi-line-text-box",
          "select-box",
          "address",
          "separator",
          "numeric-general",
          "numeric-scientific",
          "date",
          "date-wo-year",
          "boolean",
          "objectid",
          "attachment"
        ],
        "type": "string"
      },
      "Contacts.FieldPresentationWidth": {
        "enum": [
          "1",
          "2"
        ],
        "type": "string"
      },
      "Contacts.SimpleFieldPresentation": {
        "properties": {
          "type": {
            "$ref": "#/components/schemas/Contacts.FieldPresentationType"
          },
          "width": {
            "$ref": "#/components/schemas/Contacts.FieldPresentationWidth"
          }
        },
        "required": [
          "type",
          "width"
        ],
        "type": "object"
      },
      "Contacts.SelectBoxFieldPresentation": {
        "properties": {
          "next_id": {
            "type": "string"
          },
          "type": {
            "enum": [
              "select-box"
            ],
            "type": "string"
          },
          "values": {
            "items": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "value"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "width": {
            "$ref": "#/components/schemas/Contacts.FieldPresentationWidth"
          }
        },
        "required": [
          "type",
          "width",
          "next_id",
          "values"
        ],
        "type": "object"
      },
      "Contacts.ContactField": {
        "example": {
          "group": "Company Info",
          "id": "58e212d729e8e95e88606bf6",
          "label": "domain",
          "modifier": "",
          "multiples": false,
          "name": "domain",
          "presentation": {
            "type": "single-line-text-box",
            "width": "1"
          },
          "read_only": false
        },
        "properties": {
          "group": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "modifier": {
            "type": "string"
          },
          "multiples": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "presentation": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Contacts.SimpleFieldPresentation"
              },
              {
                "$ref": "#/components/schemas/Contacts.SelectBoxFieldPresentation"
              }
            ]
          },
          "read_only": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "label",
          "modifier",
          "group",
          "presentation",
          "multiples",
          "read_only"
        ],
        "type": "object"
      },
      "Contacts.FieldGroupType": {
        "enum": [
          "person",
          "company",
          "both"
        ],
        "type": "string"
      },
      "Contacts.ContactFieldsGroup": {
        "properties": {
          "id": {
            "type": "string"
          },
          "is_standard": {
            "type": "boolean"
          },
          "label": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": {
            "$ref": "#/components/schemas/Contacts.FieldGroupType"
          }
        },
        "required": [
          "id",
          "name",
          "label",
          "order",
          "is_standard",
          "type"
        ],
        "type": "object"
      },
      "Contacts.FieldsMetadata": {
        "example": {
          "fields": {
            "instagram": [
              {
                "group": "Contact Info",
                "id": "58e212d729e8e95e88606be5",
                "label": "instagram",
                "modifier": "",
                "multiples": true,
                "name": "instagram",
                "presentation": {
                  "type": "single-line-text-box",
                  "width": "1"
                },
                "read_only": false
              }
            ]
          },
          "groups": {
            "Contact Info": {
              "id": "58e212d729e8e95e88606bc7",
              "is_standard": true,
              "label": "Contact Info",
              "name": "Contact Info",
              "order": [
                "instagram"
              ],
              "type": "both"
            }
          }
        },
        "properties": {
          "fields": {
            "additionalProperties": {
              "description": "The name of field",
              "items": {
                "$ref": "#/components/schemas/Contacts.ContactField"
              },
              "type": "array"
            },
            "type": "object"
          },
          "groups": {
            "additionalProperties": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Contacts.ContactFieldsGroup"
                }
              ],
              "description": "The name of group"
            },
            "type": "object"
          }
        },
        "required": [
          "groups",
          "fields"
        ],
        "type": "object"
      },
      "Contacts.OwnerId": {
        "description": "Describes id of user who is owning this contact. Keep in mind that the creator and owner may be different.<br>\nIf null - owner will be unassigned.<br>\nIf not specified - default owner from company settings will be applied.<br>",
        "nullable": true,
        "type": "string"
      },
      "Contacts.CreateContactRequest": {
        "properties": {
          "avatar_url": {
            "type": "string"
          },
          "fields": {
            "description": "Describes a dictionary organized in the same structure as a contact listing response.\nIn this structure, each key is field name. Values are lists of dictionaries, having two fields:\nvalue - actual value to store in contact field, modifier - field modifier to use, if field can have one.\nAt a minimum, contacts require a name (first or last for a person, company name for a company).\n",
            "type": "object"
          },
          "owner_id": {
            "$ref": "#/components/schemas/Contacts.OwnerId"
          },
          "privacy": {
            "$ref": "#/components/schemas/Contacts.ContactPrivacy"
          },
          "record_type": {
            "$ref": "#/components/schemas/Contacts.ContactType"
          },
          "tags": {
            "description": "Comma separated list of tags to assign to contacts. If you need to create tags,\ncontaining comma sign — escape it with backslash.\nE.g. `our customers,best\\,premium` will create tags `our customers` and `best,premium`.\nNote Maximum 5 tags are allowed in this list during contact creation.\n",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/Contacts.ContactType"
          }
        },
        "required": [
          "fields"
        ],
        "type": "object"
      },
      "Errors.PaymentError": {
        "example": {
          "extra_usage": {
            "features": [],
            "resources": [
              {
                "amount": 1,
                "resource": {
                  "description": "Total number of contacts in a company",
                  "per_user": false,
                  "persistent": true,
                  "resource_id": "number_of_contacts"
                }
              }
            ]
          },
          "payment_type": "Resources/features usage exceeded",
          "required_spec": {
            "plan": {
              "available_upgrades": [
                {
                  "amount": 100,
                  "name": "Additional bulk messages per day",
                  "price": "$5.00",
                  "resource": "bulk_messages_per_day",
                  "upgrade_id": "additional_bulk_messages_upgrade"
                },
                {
                  "amount": 10737418240,
                  "name": "Messages total storage add on",
                  "price": "$10.00",
                  "resource": "total_message_size",
                  "upgrade_id": "storage_upgrade"
                },
                {
                  "amount": 10000,
                  "name": "Contacts add on",
                  "price": "$10.00",
                  "resource": "number_of_contacts",
                  "upgrade_id": "contacts_upgrade"
                }
              ],
              "limits": {
                "features": [],
                "resources_limits": [
                  {
                    "limit": {
                      "per_user": 2147483648,
                      "type": "team_size_proportional_plan_limit"
                    },
                    "resource": {
                      "description": "How many size used for message storage for a user",
                      "per_user": false,
                      "persistent": true,
                      "resource_id": "total_message_size"
                    }
                  },
                  {
                    "limit": {
                      "type": "no_limit"
                    },
                    "resource": {
                      "description": "Total number of users in a company",
                      "per_user": false,
                      "persistent": true,
                      "resource_id": "number_of_users"
                    }
                  },
                  {
                    "limit": {
                      "amount": 25000,
                      "type": "fixed_plan_limit"
                    },
                    "resource": {
                      "description": "Total number of contacts in a company",
                      "per_user": false,
                      "persistent": true,
                      "resource_id": "number_of_contacts"
                    }
                  },
                  {
                    "limit": {
                      "type": "no_limit"
                    },
                    "resource": {
                      "description": "How many group message templates are allowed for a user",
                      "per_user": true,
                      "persistent": true,
                      "resource_id": "number_of_message_templates"
                    }
                  },
                  {
                    "limit": {
                      "type": "no_limit"
                    },
                    "resource": {
                      "description": "Total number of allowed custom fields for contacts",
                      "per_user": false,
                      "persistent": true,
                      "resource_id": "custom_fields"
                    }
                  },
                  {
                    "limit": {
                      "amount": 100,
                      "type": "fixed_plan_limit"
                    },
                    "resource": {
                      "description": "How many group messages can be sent per day",
                      "per_user": true,
                      "persistent": false,
                      "resource_id": "bulk_messages_per_day"
                    }
                  }
                ]
              },
              "name": "Nimble Business",
              "period": "monthly",
              "plan_id": "plan_1",
              "price": {
                "per_user_price": "$25.00",
                "type": "team_size_proportional_plan_price"
              }
            },
            "upgrades": []
          }
        },
        "properties": {
          "extra_usage": {
            "description": "Exceeded nimble usage. here you can findout what resource or feature wasn't enough",
            "type": "object"
          },
          "payment_type": {
            "type": "string"
          },
          "required_spec": {
            "description": "Subscription spec that will allow user to continue use nimble with all extra resources/features",
            "type": "object"
          }
        },
        "required": [
          "payment_type",
          "required_spec",
          "extra_usage"
        ],
        "type": "object"
      },
      "Contacts.ContactUpdateRequest": {
        "properties": {
          "avatar_url": {
            "type": "string"
          },
          "fields": {
            "description": "Describes a dictionary organized in the same structure as a contact listing response.\nIn this structure, each key is field name. Values are lists of dictionaries, having two fields:\nvalue - actual value to store in contact field, modifier - field modifier to use, if field can have one.\nAt a minimum, contacts require a name (first or last for a person, company name for a company).\n",
            "type": "object"
          },
          "is_important": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Errors.ForbiddenError": {
        "example": {
          "message": "You don't have access to this deal"
        },
        "properties": {
          "message": {
            "type": "string",
            "description": "indicates that we can't authenticate the request. Message can be an arbitrary string, however there are\nfew special cases:<br/>\n\"Can't authenticate request\" – something is wrong with the auth token<br/>\n\"email_verification_required\" - if the user needs to verify their email address to continue having\naccess to Nimble<br/>\n"
          }
        },
        "required": [
          "message"
        ],
        "type": "object"
      },
      "Errors.NotAcceptableError": {
        "example": {
          "message": "You can not reopen already active deal",
          "type": "lost_contact_access"
        },
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "type"
        ],
        "type": "object"
      },
      "Fields.TextValidationRule": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "email",
              "url"
            ]
          }
        }
      },
      "Fields.StringFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "string"
            ]
          },
          "validation_rule": {
            "$ref": "#/components/schemas/Fields.TextValidationRule"
          }
        }
      },
      "Fields.LongStringFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "long_string"
            ]
          }
        }
      },
      "Commons.PossibleValues": {
        "type": "object",
        "properties": {
          "ordering_type": {
            "type": "string",
            "enum": [
              "ordinal",
              "alphabetic"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Fields.ChoiceFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "choice"
            ]
          },
          "values": {
            "$ref": "#/components/schemas/Commons.PossibleValues"
          }
        }
      },
      "Fields.NumberFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "number"
            ]
          }
        }
      },
      "Fields.DateTimeFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "datetime"
            ]
          }
        }
      },
      "Fields.BooleanFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "boolean"
            ]
          }
        }
      },
      "Fields.AddressFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "address"
            ]
          }
        }
      },
      "Fields.AttachmentFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "attachment"
            ]
          }
        }
      },
      "Fields.UserFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "user"
            ]
          }
        }
      },
      "Fields.EmploymentFieldValuesType": {
        "type": "object",
        "properties": {
          "field_kind": {
            "enum": [
              "employment"
            ]
          }
        }
      },
      "Fields.FieldType": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Fields.StringFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.LongStringFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.ChoiceFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.NumberFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.DateTimeFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.BooleanFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.AddressFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.AttachmentFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.UserFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.EmploymentFieldValuesType"
          }
        ]
      },
      "Fields.IntegerNumberPresentation": {
        "type": "object",
        "properties": {
          "number_type": {
            "enum": [
              "integer"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "Fields.DecimalNumberPresentation": {
        "type": "object",
        "properties": {
          "number_type": {
            "enum": [
              "decimal"
            ]
          },
          "fraction_digits": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "type",
          "fraction_digits"
        ]
      },
      "Fields.PercentageNumberPresentation": {
        "type": "object",
        "properties": {
          "number_type": {
            "enum": [
              "percentage"
            ]
          },
          "fraction_digits": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "type",
          "fraction_digits"
        ]
      },
      "Fields.FinancialNumberPresentation": {
        "type": "object",
        "properties": {
          "number_type": {
            "enum": [
              "financial"
            ]
          },
          "currency": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "currency"
        ]
      },
      "Fields.DateTimePresentation": {
        "type": "object",
        "properties": {
          "date_format": {
            "type": "string",
            "nullable": true,
            "description": "strftime-like format template as described in\nhttps://docs.python.org/2.7/library/datetime.html#strftime-and-strptime-behavior\nor null if client should use date format from user settings\n"
          },
          "ignore_specific_time": {
            "type": "boolean",
            "nullable": true,
            "description": "show if time should be presented in the field. Applicable only if date_format is None.\nMust be null if date_format specified\n"
          }
        },
        "required": [
          "date_format",
          "ignore_specific_time"
        ]
      },
      "Fields.FieldPresentation": {
        "description": "how values of the field should look. Must match to corresponding field_type. Date and number\nfields must have an appropriate presentation. There is no presentation for other types\n",
        "oneOf": [
          {
            "$ref": "#/components/schemas/Fields.IntegerNumberPresentation"
          },
          {
            "$ref": "#/components/schemas/Fields.DecimalNumberPresentation"
          },
          {
            "$ref": "#/components/schemas/Fields.PercentageNumberPresentation"
          },
          {
            "$ref": "#/components/schemas/Fields.FinancialNumberPresentation"
          },
          {
            "$ref": "#/components/schemas/Fields.DateTimePresentation"
          }
        ]
      },
      "Fields.ContactField": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "field"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "field_id": {
            "type": "string"
          },
          "modifier": {
            "type": "string"
          },
          "multiples": {
            "type": "boolean"
          },
          "read_only": {
            "description": "if contacts values of this field is editable. It is different from available_actions.read_only",
            "type": "boolean"
          },
          "field_type": {
            "$ref": "#/components/schemas/Fields.FieldType"
          },
          "presentation": {
            "$ref": "#/components/schemas/Fields.FieldPresentation"
          },
          "available_actions": {
            "description": "edit_all - all operations with field available\nedit_choices_only - just choices of field available for changing\nview_only - field can't be changed\n",
            "enum": [
              "edit_all",
              "edit_choices_only",
              "view_only"
            ]
          }
        }
      },
      "Fields.ContactFieldsGroup": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "group"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group_id": {
            "type": "string"
          },
          "logo_id": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fields.ContactField"
            }
          }
        }
      },
      "Fields.ContactFieldsTab": {
        "properties": {
          "tab_id": {
            "type": "string"
          },
          "tab_name": {
            "type": "string"
          },
          "contact_types": {
            "$ref": "#/components/schemas/Contacts.ContactType"
          },
          "is_standard": {
            "type": "boolean"
          },
          "members": {
            "description": "a member could be a group of fields or separate field",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Fields.ContactFieldsGroup"
                },
                {
                  "$ref": "#/components/schemas/Fields.ContactField"
                }
              ]
            }
          },
          "available_actions": {
            "description": "edit_all - available all operations with tab\nrearrange_only - available just moving tab between other tabs\nview_only - tab can't be changed\n",
            "enum": [
              "edit_all",
              "rearrange_only",
              "view_only"
            ]
          }
        }
      },
      "Fields.ContactsFieldsMetadata": {
        "type": "object",
        "properties": {
          "tabs": {
            "items": {
              "$ref": "#/components/schemas/Fields.ContactFieldsTab"
            },
            "type": "array"
          }
        },
        "required": [
          "tabs"
        ],
        "description": "Contain the structure of contacts tabs, groups, and fields."
      },
      "Fields.FieldTypeOnFieldCreation": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Fields.StringFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.LongStringFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.ChoiceFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.NumberFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.DateTimeFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.BooleanFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.AddressFieldValuesType"
          },
          {
            "$ref": "#/components/schemas/Fields.UserFieldValuesType"
          }
        ]
      },
      "Fields.CreateFieldRequest": {
        "type": "object",
        "properties": {
          "field_type": {
            "$ref": "#/components/schemas/Fields.FieldTypeOnFieldCreation"
          },
          "group_id": {
            "nullable": true,
            "type": "string"
          },
          "insert_after": {
            "description": "If not null, inserts a new field after another field or group with specified id. If null, then inserted field to be the first one",
            "nullable": true,
            "type": "string"
          },
          "name": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "presentation": {
            "$ref": "#/components/schemas/Fields.FieldPresentation"
          },
          "tab_id": {
            "type": "string"
          },
          "multiples": {
            "type": "boolean",
            "description": "whether this field can hold multiple values (by default, false)"
          }
        },
        "required": [
          "name",
          "tab_id",
          "group_id",
          "field_type",
          "presentation",
          "insert_after"
        ]
      },
      "Fields.UpdateIsPrimaryRequest": {
        "properties": {
          "field_id": {
            "type": "string"
          },
          "position": {
            "minimum": 0,
            "type": "integer"
          }
        },
        "required": [
          "field_id",
          "position",
          "is_primary"
        ],
        "type": "object"
      },
      "Contacts.ContactNoteSpec": {
        "properties": {
          "contact_ids": {
            "description": "List of contacts’ IDs in BSON format to which the note will be attached. Contacts count should be between 1 and 10.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "note": {
            "type": "string"
          },
          "note_preview": {
            "description": "Short version of note, that will be used for preview purposes",
            "type": "string"
          }
        },
        "required": [
          "contact_ids",
          "note",
          "note_preview"
        ],
        "type": "object"
      },
      "Contacts.ShortContact": {
        "properties": {
          "avatar_url": {
            "type": "string"
          },
          "contact_type": {
            "$ref": "#/components/schemas/Contacts.ContactType"
          },
          "email": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "is_viewable": {
            "description": "if this contact can be viewed in details by a calling user",
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "employment": {
            "nullable": true,
            "description": "the most relevant contact employment (e.g., primary or present)",
            "type": "object",
            "properties": {
              "company_name": {
                "type": "string",
                "nullable": true
              },
              "title": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "phones": {
            "properties": {
              "label": {
                "description": "phone label like \"home\", \"work\", etc",
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "value"
            ],
            "type": "object"
          }
        },
        "required": [
          "avatar_url",
          "contact_type",
          "id",
          "name",
          "email",
          "is_viewable",
          "phones"
        ],
        "type": "object"
      },
      "Contacts.ContactNote": {
        "properties": {
          "author_name": {
            "description": "Readable name of company user who created this note",
            "type": "string"
          },
          "contacts": {
            "items": {
              "$ref": "#/components/schemas/Contacts.ShortContact"
            },
            "type": "array"
          },
          "created": {
            "description": "Date and time when the note was created encoded in ISO 8601",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "note_preview": {
            "type": "string"
          },
          "owner_id": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "updated": {
            "description": "Date and time when the note was updated encoded in ISO 8601",
            "type": "string"
          }
        },
        "required": [
          "id",
          "owner_id",
          "author_name",
          "created",
          "updated",
          "contacts",
          "note_preview",
          "note",
          "owner"
        ],
        "type": "object"
      },
      "Proceedings.ProceedingTypeDef": {
        "properties": {
          "type_id": {
            "description": "Unique and stable id for an proceeding type",
            "type": "string",
            "enum": [
              "contact_note",
              "contact_attachment",
              "message",
              "webform_response",
              "task",
              "call",
              "event",
              "deal",
              "new_deal"
            ]
          },
          "type_name": {
            "description": "human-readable name for an proceeding type",
            "type": "string"
          }
        }
      },
      "Proceedings.ProceedingProvider": {
        "properties": {
          "name": {
            "type": "string"
          },
          "provider_id": {
            "type": "string"
          },
          "types": {
            "items": {
              "$ref": "#/components/schemas/Proceedings.ProceedingTypeDef"
            },
            "type": "array"
          }
        },
        "required": [
          "provider_id",
          "name",
          "types"
        ],
        "type": "object"
      },
      "Proceedings.Proceeding": {
        "properties": {
          "description": {
            "type": "string"
          },
          "details": {
            "description": "Proceeding-specific data that only relevant for certain implementation",
            "type": "object"
          },
          "feed_tstamp": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "proceeding_id": {
            "type": "string"
          },
          "proceeding_type": {
            "$ref": "#/components/schemas/Proceedings.ProceedingTypeDef"
          }
        },
        "required": [
          "details",
          "proceeding_type",
          "proceeding_id",
          "name",
          "description",
          "feed_tstamp"
        ],
        "type": "object"
      },
      "Deals.RelatedExternalContact": {
        "description": "external contact related to this deal",
        "type": "object",
        "properties": {
          "contact_info": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "Deals.EmploymentInfo": {
        "description": "Information about date employment",
        "type": "object",
        "properties": {
          "employer": {
            "$ref": "#/components/schemas/Contacts.ShortContact"
          },
          "start_date": {
            "description": "First working day",
            "type": "string"
          },
          "end_date": {
            "description": "Last working day",
            "type": "string"
          },
          "title": {
            "description": "Job-title of contact",
            "type": "string"
          }
        }
      },
      "Deals.RelatedContact": {
        "description": "Contacts related to deal",
        "type": "object",
        "properties": {
          "contact": {
            "description": "short info about related contact",
            "$ref": "#/components/schemas/Contacts.ShortContact"
          },
          "note": {
            "description": "contact's note",
            "type": "string"
          },
          "employments": {
            "description": "employments of this contact if applicable",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.EmploymentInfo"
            }
          }
        }
      },
      "Deals.FieldsValues": {
        "type": "object",
        "description": "Fields of the deals which was filled up by the owner/creator",
        "properties": {
          "field_id": {
            "type": "string",
            "example": "65958d7ef2e8748e6361ddb1"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "example": "value_1"
                },
                "is_primary": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        }
      },
      "Deals.NamedFieldsValues": {
        "type": "object",
        "description": "Fields of the deals which was filled up by the owner/creator",
        "properties": {
          "field_name": {
            "type": "string",
            "example": "amount"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "example": "value_1"
                },
                "is_primary": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        }
      },
      "Pipeline.DealStage": {
        "description": "Stage in the deals pipeline",
        "type": "object",
        "properties": {
          "default_probability": {
            "description": "Probability, that will be set to a deal at this stage, if not specific deal probability provided.",
            "type": "integer"
          },
          "stage_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "creator": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "created": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "pipline_id": {
            "description": "Id of pipeline deals belongs to",
            "type": "string"
          },
          "role": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "is_final": {
                "type": "boolean",
                "example": true
              }
            }
          },
          "archived_at": {
            "description": "When and if this stage has been archived",
            "type": "string",
            "nullable": true
          },
          "expected_days": {
            "description": "The number of days a deal is expected to spend at this stage",
            "type": "integer"
          },
          "name": {
            "description": "Name of the stage",
            "type": "string"
          }
        }
      },
      "Deals.DealStageTransition": {
        "properties": {
          "from_stage": {
            "$ref": "#/components/schemas/Pipeline.DealStage",
            "description": "Can be null if this was the very first transition"
          },
          "to_stage": {
            "$ref": "#/components/schemas/Pipeline.DealStage"
          },
          "who": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "when": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "from_stage",
          "to_stage",
          "who",
          "when"
        ],
        "type": "object"
      },
      "Deals.DealPipelineTransitions": {
        "properties": {
          "pipeline_id": {
            "type": "string"
          },
          "pipeline_color": {
            "type": "string"
          },
          "pipeline_name": {
            "type": "string"
          },
          "transitions": {
            "items": {
              "$ref": "#/components/schemas/Deals.DealStageTransition"
            },
            "type": "array"
          },
          "before_final_stage": {
            "$ref": "#/components/schemas/Pipeline.DealStage",
            "nullable": true,
            "description": "previous to the final stage (if the deal is won or lost, otherwise - null)"
          }
        },
        "required": [
          "pipeline_id",
          "pipeline_color",
          "pipeline_name",
          "transitions"
        ],
        "type": "object"
      },
      "Deals.AzureFileMetadata": {
        "type": "object",
        "description": "metadata for files uploaded from device using Azure JS SDK",
        "properties": {
          "data_id": {
            "description": "id of an object in the cloud",
            "type": "string"
          },
          "source": {
            "enum": [
              "uploaded_azure"
            ]
          }
        }
      },
      "Deals.ExternalFileMetadata": {
        "type": "object",
        "description": "metadata for files from external sources (dropbox, google drive, one drive)",
        "properties": {
          "icon_url": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          },
          "source": {
            "enum": [
              "dropbox",
              "one_drive",
              "google_drive"
            ]
          }
        }
      },
      "Deals.DealFile": {
        "type": "object",
        "properties": {
          "uploader": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "uploaded_at": {
            "type": "string"
          },
          "file_size": {
            "type": "number",
            "description": "the file size in bytes"
          },
          "file_name": {
            "type": "string"
          },
          "file_id": {
            "type": "string"
          },
          "metadata": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Deals.AzureFileMetadata"
              },
              {
                "$ref": "#/components/schemas/Deals.ExternalFileMetadata"
              }
            ]
          }
        }
      },
      "Deals.DealView": {
        "properties": {
          "updated": {
            "description": "Time of the last Deal update",
            "type": "string"
          },
          "deal_id": {
            "description": "Id of created Deal",
            "type": "string"
          },
          "creator": {
            "description": "Deal creator",
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "related_external_contacts": {
            "description": "List of external contacts related to this deal",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.RelatedExternalContact"
            }
          },
          "privacy": {
            "description": "Read/Edit privacy settings",
            "type": "object",
            "properties": {
              "read": {
                "type": "boolean"
              },
              "edit": {
                "type": "boolean"
              }
            }
          },
          "updated_by": {
            "description": "Last updated by which user",
            "type": "string"
          },
          "created": {
            "description": "Datetime when deal was created",
            "type": "string"
          },
          "is_editable": {
            "description": "Is this deal is editable to a user who retrieved it",
            "type": "boolean"
          },
          "currency": {
            "description": "Currency of Deal",
            "type": "string",
            "format": "iso-4217"
          },
          "related_contacts": {
            "description": "List of Nimble contacts related to this deal",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.RelatedContact"
            }
          },
          "owner": {
            "description": "User who owns this deal",
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          },
          "fields_values": {
            "description": "Fields of the deals which was filled up by the owner/creator. At leas field <code>deal_name</code> is required. <br> Standard fields description: <br> <ul><li><b style='color:red'>name</b> - required. Name of the deal.</li> <li><b style='color:#ff7200'>probability</b> - required (if none <code>Stage.default_probability</code> set). Deal probability. If not provided by user,  deal will try to derive it from stage's <code>default_probability</code>. If none, will rise error</li> <li><b>description</b> - optional. Description of the deal. Sending just ' ' (whitespace) removing it</li> <li><b>amount</b> - optional. Amount of tha money in the deal. Can be only positive number or 0</li> <li><b>expected_close_date</b> - optional. Date when deal is expected to be closed.</li> <li><b>actual_close_date</b> - optional. Actual date. View only.</li> </ul> <br> To remove any field send <code>{field_id:[]}</code>",
            "$ref": "#/components/schemas/Deals.FieldsValues"
          },
          "fields_values_with_names": {
            "$ref": "#/components/schemas/Deals.NamedFieldsValues"
          },
          "stage_transitions": {
            "$ref": "#/components/schemas/Deals.DealPipelineTransitions"
          },
          "files": {
            "$ref": "#/components/schemas/Deals.DealFile"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "final_probability": {
            "description": "custom deal probability if it specified or deal stage probability",
            "type": "integer"
          },
          "age_in_days": {
            "type": "number"
          }
        }
      },
      "Deals.DealsList": {
        "type": "object",
        "description": "List of user deals",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "per_page": {
                "type": "integer",
                "description": "amount of deals per page"
              },
              "total": {
                "type": "integer",
                "description": "total amount of deals"
              },
              "page": {
                "type": "integer",
                "description": "number of the current page"
              },
              "pages": {
                "type": "integer",
                "description": "total amount of pages"
              }
            }
          },
          "resources": {
            "type": "array",
            "description": "List of deals",
            "items": {
              "$ref": "#/components/schemas/Deals.DealView"
            }
          }
        }
      },
      "Deals.CreateDealRequest": {
        "properties": {
          "owner_id": {
            "description": "<code>id</code> of user who owns deal",
            "type": "string"
          },
          "privacy": {
            "description": "deal's read and edit privacy",
            "type": "object",
            "properties": {
              "read": {
                "type": "boolean"
              },
              "edit": {
                "type": "boolean"
              }
            }
          },
          "fields_values": {
            "description": "Fields of the deals which was filled up by the owner/creator. At leas field <code>deal_name</code> is required. <br> Standard fields description: <br> <ul><li><b style='color:red'>name</b> - required. Name of the deal.</li> <li><b style='color:#ff7200'>probability</b> - required (if none <code>Stage.default_probability</code> set). Deal probability. If not provided by user,  deal will try to derive it from stage's <code>default_probability</code>. If none, will rise error</li> <li><b>description</b> - optional. Description of the deal. Sending just ' ' (whitespace) removing it</li> <li><b>amount</b> - optional. Amount of tha money in the deal. Can be only positive number or 0</li> <li><b>expected_close_date</b> - optional. Date when deal is expected to be closed.</li> <li><b>actual_close_date</b> - optional. Actual date. View only.</li> </ul> <br> To remove any field send <code>{field_id:[]}</code>",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Deals.FieldsValues"
              },
              {
                "$ref": "#/components/schemas/Deals.NamedFieldsValues"
              }
            ]
          },
          "pipeline_id": {
            "description": "<code>id</code> of the pipeline which belongs to this deal",
            "type": "string"
          },
          "stage_id": {
            "type": "string",
            "description": "<code>id</code> of stage on which deal is currently is"
          },
          "currency": {
            "description": "Currency of the deal in <code style='color:blue'>ISO-4217</code> format (3 char code)",
            "type": "string",
            "format": "ISO-4217"
          },
          "related_contacts": {
            "description": "List of Nimble contacts that take part in the deal.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contact_id": {
                  "type": "string"
                },
                "note": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "related_external_contacts": {
            "description": "A list with related external contacts. Similar to related_contacts, but instead of <code>contact_id</code> we use <code>contact_info</code> (email, phone etc)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.RelatedExternalContact"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "owner",
          "fields_values",
          "pipeline_id",
          "stage_id"
        ],
        "type": "object"
      },
      "Columns.ColumnPresentationType": {
        "enum": [
          "single-line-text-box",
          "phone",
          "mail",
          "url",
          "multi-line-text-box",
          "select-box",
          "address",
          "numeric-general",
          "date",
          "boolean",
          "attachment",
          "tags",
          "privacy",
          "user",
          "contact employment"
        ],
        "nullable": false,
        "type": "string"
      },
      "Columns.ColumnPresentation": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/Columns.ColumnPresentationType"
          },
          "possible_values": {
            "$ref": "#/components/schemas/Commons.PossibleValues"
          }
        }
      },
      "Columns.ListingColumn": {
        "properties": {
          "id": {
            "description": "unique column identifier",
            "type": "string"
          },
          "human_readable_name": {
            "description": "name to display",
            "type": "string"
          },
          "json_path": {
            "description": "JSONPath to determine the exact value from contact data. It should return a list of values",
            "type": "string"
          },
          "value_json_path": {
            "description": "JSONPath to determine the exact value from field's value (when value is json itself).",
            "type": "string",
            "nullable": true
          },
          "presentation": {
            "description": "allows client to distinguish different field types. Single line by default",
            "$ref": "#/components/schemas/Columns.ColumnPresentation"
          },
          "read_only": {
            "description": "defines ability to edit this column",
            "type": "boolean"
          },
          "is_standard": {
            "description": "show if the column is standard or created by the user",
            "type": "boolean"
          },
          "sortable": {
            "description": "True if contacts can be sorted by this column",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Columns.ColumnGroup": {
        "properties": {
          "columns": {
            "items": {
              "$ref": "#/components/schemas/Columns.ListingColumn"
            },
            "type": "array"
          },
          "group_id": {
            "type": "string"
          },
          "human_readable_name": {
            "type": "string"
          }
        },
        "required": [
          "group_id",
          "human_readable_name",
          "columns"
        ],
        "type": "object"
      },
      "Search.SearchField": {
        "type": "object",
        "properties": {
          "human_readable_name": {
            "type": "string"
          },
          "search_name": {
            "type": "string"
          },
          "data_type": {
            "type": "object",
            "properties": {
              "type_id": {
                "enum": [
                  "textlike",
                  "datelike",
                  "numberlike"
                ]
              }
            }
          },
          "occurrences": {
            "type": "array",
            "items": {
              "enum": [
                "starts_with"
              ]
            }
          },
          "frequently_used": {
            "type": "boolean"
          },
          "possible_values": {
            "$ref": "#/components/schemas/Commons.PossibleValues"
          }
        }
      },
      "Deals.DealListingColumn": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Columns.ListingColumn"
          },
          {
            "properties": {
              "search_field": {
                "$ref": "#/components/schemas/Search.SearchField"
              }
            },
            "type": "object"
          }
        ]
      },
      "Deals.BaseDealPipelineFieldsTabMember": {
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Deals.IDealField": {
        "type": "object",
        "properties": {
          "field_id": {
            "description": "The id of a field in the database",
            "type": "string"
          },
          "modifier": {
            "type": "string"
          },
          "multiples": {
            "type": "boolean"
          },
          "available_actions": {
            "description": "Shows available for user actions",
            "type": "string"
          },
          "field_type": {
            "type": "string"
          },
          "field_name": {
            "description": "The name of a field",
            "type": "string"
          }
        }
      },
      "Deals.DealPipelineField": {
        "description": "Fields of DealsPipeline",
        "allOf": [
          {
            "$ref": "#/components/schemas/Deals.BaseDealPipelineFieldsTabMember"
          },
          {
            "properties": {
              "field": {
                "$ref": "#/components/schemas/Deals.IDealField"
              },
              "pipeline_id": {
                "type": "string"
              }
            }
          }
        ],
        "type": "object"
      },
      "Deals.DealPipelineFieldsGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Deals.BaseDealPipelineFieldsTabMember"
          },
          {
            "properties": {
              "group_name": {
                "type": "string"
              },
              "group_id": {
                "type": "string"
              },
              "logo_id": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Deals.DealPipelineField"
                }
              }
            }
          }
        ],
        "type": "object"
      },
      "Deals.DealPipelineFieldsTabMember": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Deals.DealPipelineField"
          },
          {
            "$ref": "#/components/schemas/Deals.DealPipelineFieldsGroup"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "field": "#/components/schemas/Deals.DealPipelineField",
            "group": "#/components/schemas/Deals.DealPipelineFieldsGroup"
          }
        }
      },
      "Deals.DealPipelineFieldsTab": {
        "type": "object",
        "properties": {
          "tab_id": {
            "description": "The id of a tab in the database",
            "type": "string"
          },
          "tab_name": {
            "description": "The name of a tab",
            "type": "string"
          },
          "pipeline_id": {
            "type": "string"
          },
          "members": {
            "$ref": "#/components/schemas/Deals.DealPipelineFieldsTabMember"
          }
        }
      },
      "Deals.DealFieldsMetadata": {
        "type": "object",
        "properties": {
          "pipelines_tabs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.DealPipelineFieldsTab"
            }
          },
          "standard_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.IDealField"
            }
          }
        }
      },
      "Commons.Tag": {
        "properties": {
          "name": {
            "type": "string"
          },
          "created": {
            "description": "datetime object that equals to time when tag was created",
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "Contacts.ContactsAlreadyLeadsError": {
        "properties": {
          "error_type": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "already_leads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "full_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Contacts.NotEditableContactsError": {
        "properties": {
          "error_type": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Contacts.AssigmentProgress": {
        "properties": {
          "is_completed": {
            "type": "boolean"
          },
          "operation_id": {
            "type": "string"
          },
          "processed": {
            "type": "integer"
          },
          "started_at": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Contacts.ContactsAlreadyLeadsError"
                },
                {
                  "$ref": "#/components/schemas/Contacts.NotEditableContactsError"
                }
              ]
            }
          }
        },
        "required": [
          "operation_id",
          "processed",
          "total",
          "started_at",
          "is_completed",
          "errors"
        ],
        "type": "object"
      },
      "Deals.EditDealRequest": {
        "type": "object",
        "properties": {
          "owner_id": {
            "description": "<code>id</code> of user who owns the deal",
            "type": "string",
            "example": "5049f696a694620a0700001c"
          },
          "privacy": {
            "description": "deal's read and edit privacy",
            "type": "object",
            "properties": {
              "read": {
                "type": "boolean"
              },
              "edit": {
                "type": "boolean"
              }
            }
          },
          "fields_values": {
            "description": "Fields of the deals which was filled up by the owner/creator. At leas field <code>deal_name</code> is required. <br> Standard fields description: <br> <ul><li><b style='color:red'>name</b> - required. Name of the deal.</li> <li><b style='color:#ff7200'>probability</b> - required (if none <code>Stage.default_probability</code> set). Deal probability. If not provided by user,  deal will try to derive it from stage's <code>default_probability</code>. If none, will rise error</li> <li><b>description</b> - optional. Description of the deal. Sending just ' ' (whitespace) removing it</li> <li><b>amount</b> - optional. Amount of tha money in the deal. Can be only positive number or 0</li> <li><b>expected_close_date</b> - optional. Date when deal is expected to be closed.</li> <li><b>actual_close_date</b> - optional. Actual date. View only.</li> </ul> <br> To remove any field send <code>{field_id:[]}</code>",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Deals.FieldsValues"
              },
              {
                "$ref": "#/components/schemas/Deals.NamedFieldsValues"
              }
            ]
          },
          "pipeline_id": {
            "description": "<code>id</code> of the pipeline to which this deal belongs",
            "type": "string",
            "example": "630f34cfa34058dea76c0c0e"
          },
          "stage_id": {
            "description": "<code>id</code> of the stage on which deal is now",
            "type": "string",
            "example": "62fd6587048065ca3510c6d5"
          },
          "currency": {
            "description": "Currency of the deal in <code style='color: blue'>ISO-4217</code> (3 char code).",
            "type": "string",
            "format": "ISO-4217",
            "example": "USD"
          },
          "related_contacts": {
            "description": "List of Nimble contacts that take part in the deal. If you want to clear contacts list, send <code>{'related_external_contacts': []}</code>",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contact_id": {
                  "type": "string"
                },
                "note": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "example": [
              {
                "contact_id": "630c6f7bf5943b012188c778",
                "note": "Some Note Text"
              }
            ]
          },
          "related_external_contacts": {
            "description": "A list with related external contacts. Similar to <code>related_contacts</code>, but instead of <code>contact_id</code> we use <code>contact_info</code> (email, phone etc). <br> If you want to clear contacts list, send <code>{'related_external_contacts': []}</code>",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deals.RelatedExternalContact"
            }
          },
          "tags": {
            "description": "new list of deal's tags",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "Deals.StoreAzureFileRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Deals.AzureFileMetadata"
          }
        }
      },
      "Deals.StoreExternalFileRequest": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Deals.ExternalFileMetadata"
          },
          "file_name": {
            "type": "string"
          },
          "file_size": {
            "type": "number"
          }
        }
      },
      "Deals.StoreFileRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Deals.StoreAzureFileRequest"
          },
          {
            "$ref": "#/components/schemas/Deals.StoreExternalFileRequest"
          }
        ]
      },
      "Deals.UpdateDealFileRequest": {
        "type": "object",
        "properties": {
          "new_file_name": {
            "type": "string"
          }
        }
      },
      "Deals.DealNote": {
        "type": "object",
        "properties": {
          "note_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "creator": {
            "$ref": "#/components/schemas/Accounts.ShortUserInfo"
          }
        }
      },
      "Activities.ActivityTypeDef": {
        "properties": {
          "archived": {
            "description": "True if the type was archived. We shouldn't create new activities of archived types",
            "type": "boolean"
          },
          "can_update_definition": {
            "description": "True if user can change definition of that type, False otherwise",
            "type": "boolean"
          },
          "can_update_lc": {
            "description": "True if completion of the activity should update the last contacted date",
            "type": "boolean"
          },
          "logo_id": {
            "description": "id of a picture to display for these activities",
            "type": "string"
          },
          "type_id": {
            "description": "unique and stable id for an activity type",
            "type": "string"
          },
          "type_name": {
            "description": "human-readable name for an activity type",
            "type": "string"
          }
        },
        "required": [
          "type_id",
          "type_name",
          "logo_id",
          "can_update_lc",
          "can_update_definition",
          "archived"
        ],
        "type": "object"
      },
      "Settings.UserPermissions": {
        "additionalProperties": {
          "type": "number"
        },
        "description": "users permission",
        "example": {
          "api use": 1,
          "manage deals pipelines": 1,
          "mass delete": 1,
          "mass export": 1,
          "private deals edit": 1,
          "private deals view": 1
        },
        "type": "object"
      },
      "Legacy.UserMetadata": {
        "properties": {
          "city": {
            "nullable": true,
            "type": "string",
            "description": "(deprecated)"
          },
          "company_name": {
            "type": "string",
            "description": "(deprecated)"
          },
          "country": {
            "nullable": true,
            "description": "(deprecated)",
            "type": "string"
          },
          "employees_count": {
            "nullable": true,
            "description": "(deprecated)",
            "type": "integer"
          },
          "help_tour_data": {
            "description": "(deprecated)",
            "properties": {
              "app/activities/list": {
                "type": "integer"
              },
              "app/b/homepage": {
                "type": "integer"
              },
              "app/contacts/list": {
                "type": "integer"
              },
              "app/contacts/view": {
                "type": "integer"
              },
              "app/deals/list": {
                "type": "integer"
              },
              "app/deals/view": {
                "type": "integer"
              },
              "app/groupmessages/create": {
                "type": "integer"
              },
              "app/messages/list": {
                "type": "integer"
              },
              "app/messages/view": {
                "type": "integer"
              },
              "app/settings/": {
                "type": "integer"
              },
              "app/social/list": {
                "type": "integer"
              },
              "contact_list_group_message": {
                "type": "integer"
              },
              "disabled": {
                "type": "integer"
              },
              "nimble_widget": {
                "type": "integer"
              }
            },
            "type": "object"
          },
          "industry": {
            "description": "(deprecated)",
            "nullable": true,
            "type": "string"
          },
          "phone": {
            "nullable": true,
            "type": "string"
          },
          "state": {
            "description": "(deprecated)",
            "nullable": true,
            "type": "string"
          },
          "street": {
            "description": "(deprecated)",
            "nullable": true,
            "type": "string"
          },
          "title": {
[...]
