@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background-color: #1c1c1c;
  text-align: center;
}

@layer base {
  body {
    @apply h-full min-h-screen font-normal;
  }

  img {
    @apply m-0 block p-0;
  }

  form {
    @apply mx-auto mb-5 flex flex-col gap-4 rounded-lg border-[4px] border-solid border-[#3b3c3d] p-3;
  }

  input {
    @apply rounded px-2 py-1;
  }

  label {
    @apply relative flex flex-col;
  }

  strong {
    @apply absolute bottom-[-20px] left-0 text-sm font-medium text-red-800;
  }

  ::placeholder {
    @apply p-1 text-sm text-zinc-200;
  }
}

@layer utilities {
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .title {
    @apply mb-4 text-center text-lg font-semibold uppercase;
  }

  .subtitle {
    @apply mb-2 text-left text-base font-medium uppercase;
  }

  .button {
    @apply mx-auto block w-44 rounded-lg border-[2px] border-solid border-[#3b3c3d] p-1 text-center transition hover:bg-[#3b3c3d] focus:bg-[#3b3c3d];
  }

  .tags {
    @apply transition hover:scale-110;
  }
}
